Repository cksystemsteaching/selfie, pull requests merged in 2020-11, with the labels that each got.

#230 Grader: Don't re-assemble binary on Mipster in 'self-assembler' (fixes #229)
  grader/self.py
Labels: grader

#232 Grader: Fix assignment `self-assembler` passing without implementation
  grader/self.py
Labels: bug, grader

#233 Grader: Don't fail assignment if it contains mandatory checks only
  grader/lib/grade.py
Labels: bug, grader

#234 Describe code and data segment in ELF header seperately
  Makefile
  selfie.c
  tools/riscv-2-x86.c
Labels: enhancement

#236 Grader: Allow SIGINT to be handled when waiting for a subprocess (fixes #144)
  grader/lib/cli.py
  grader/tests/test_bulk_grader.py
Labels: bug, grader
